<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="container-fluid">


        <div class="brand-bg">
            <a class="navbar-brand" routerLink="/">MediCare</a>
        </div>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form *ngIf="menuType === 'default'" class="search-bar">
                <input class="form-control form-control-search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-search btn-outline-success" type="submit"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </form>





            <div class="ms-auto" [ngSwitch]="menuType">
                <ul *ngSwitchCase="'default'" class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">Medicines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">Lab-Tests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">Ayurveda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">Homeopathy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">Covid-19</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/seller-auth">Seller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #4ead67" class="nav-link" routerLink="#"><i
                                class="fa-solid fa-cart-shopping"></i>(0)</a>
                    </li>
                </ul>






                <ul *ngSwitchCase="'seller'" class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="seller-home">Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="seller-add-product">Add-Products</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle seller-name" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{sellerName | titlecase}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item logout" (click)="logout()">Logout</a></li>
                        </ul>
                    </li>


                </ul>
            </div>


        </div>
    </div>
</nav>