<!-- Signup Area -->
<div class="card common-card m-auto mt-5" style="width: 50rem;">
    <img src="https://img.freepik.com/premium-vector/healthcare-technology-concept-modern-abstract-background-with-medical-symbol-hexagon-pattern_236657-1687.jpg?w=2000"
        class="card-img-top" alt="login_img">
    <!-- <img src="..." class="card-img-top" alt="..."> -->

    <div class="card-body">
        <div class="container text-center">
            <h4 class="signup-heading">Add New Medicine</h4>
        </div>
        <hr>
        <p class="card-text">You can add new medicines using the form below</p>

        <div class="container text-center p-0">
            <div *ngIf="isAdded" class="alert alert-success p-1" role="alert">
                Medicine added successfully!
            </div>
            <div *ngIf="isNotAdded" class="alert alert-danger p-1" role="alert">
                Error in adding medicine!
            </div>
        </div>


        <form #addProduct="ngForm" (ngSubmit)="addMedicine(addProduct.value)">
            <div class="form-floating mb-3">
                <input name="medicineName" ngModel type="text" class="form-control" id="floatingName"
                    placeholder="e.g. Cipla MS42P">
                <label class="form-label" for="floatingName">Medicine Name</label>
            </div>
            <div class="form-floating mb-3">
                <input name="info" ngModel type="text" class="form-control" id="floatingInfo"
                    placeholder="Cough Medicine">
                <label class="form-label" for="floatingInput">Medicine Info</label>
            </div>
            <div class="form-floating mb-3">
                <input name="imageUrl" ngModel type="text" class="form-control" id="floatingImgUrl"
                    placeholder="Cough Medicine">
                <label class="form-label" for="floatingInput">Image URL</label>
            </div>
            <div class="form-floating mb-3">
                <input name="medicinePrice" ngModel type="text" class="form-control" id="floatingPrice"
                    placeholder="Price">
                <label class="form-label" for="floatingPrice">Price ₹</label>
            </div>
            <div class="mb-3">
                <label for="medicineDescription" class="form-label ms-2">Description</label>
                <textarea name="description" ngModel class="form-control common-text-area" id="medicineDescription"
                    rows="3"></textarea>
            </div>
            <div class="container text-center">
                <button type="submit" class="btn common-btn mt-4">Add + </button>
            </div>
        </form>
    </div>
</div>