<div class="card card-signup m-auto mt-5" style="width: 50rem;">
    <img src="https://media.istockphoto.com/id/1185154743/vector/abstract-green-halftone-background.jpg?s=170667a&w=0&k=20&c=u3hTZKoM0XWuo1-SuQikvDBbR-MTYJ8qFK8ZyPLXrrM="
        class="card-img-top" alt="login_img">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
        <h4 class="signup-heading">Signup</h4>
        <p class="card-text">You can signup using the form below</p>

        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
            <div class="form-floating mb-3">
                <input name="userName" ngModel type="text" class="form-control" id="floatingName"
                    placeholder="e.g. Pawan">
                <label class="form-label" for="floatingName">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input name="email" ngModel type="email" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                <label class="form-label" for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input name="password" ngModel type="password" class="form-control" id="floatingPassword"
                    placeholder="Password">
                <label class="form-label" for="floatingPassword">Password</label>
            </div>
            <div class="container text-center">
                <button type="submit" class="btn btn-signup mt-4">Sign-up</button>
            </div>
        </form>
    </div>
</div>